<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h3 class="titulo">Adicionar Producto</h3>
            <!-- <form method="post" action="/products/create" class="formRegistro" enctype="multipart/form-data"> -->
            <form method="post" action="/products/create" class="formRegistro">
                <label for="name" class="labelForm">Nombre del Producto</label>
                <input type="text" class="inputRegistro" name="name" id="name" required>
                
                <label for="description" class="labelForm">Descripción</label>
                <input type="text" class="inputRegistro" name="description" id="description" required>
                
                <!-- <label for="product-image" class="labelForm">Foto del Producto</label>
                <input type="file" class="inputRegistro" name="product-image" id="product-image" required> -->
                
                <label for="category" class="labelForm">Categoría</label>
                <input type="text" class="inputRegistro" name="category" id="category" required>

                <label for="animal-type" class="labelForm">Tipo de Animal</label>
                <input type="radio" name="animal-type" value="Perro" required>Perro</label>
                <input type="radio" name="animal-type" value="Gato"required>Gato</label>

                <label for="price" class="labelForm">Precio</label>
                <input type="text" class="inputRegistro" name="price" id="price" required>

                <div class="buttonContainer">
                    <button type="submit">Agregar</button>
                </div>
            </form>
        </main>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
