<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logoPrueba.jpg">
    <!--<link rel="stylesheet" href="/css/normalize.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ANIMALITOS</title>
</head>
<body>

    <header class="header">
        <div class="headerTop">
            <div class="burguerButton">
                <i class="fa-solid fa-bars"></i>
            </div>
            <form method="get" action="" class="barra-busqueda">
                <input type="text" name="nombre" placeholder="Buscar productos, marcas">
                <button type="submit" class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="logo">
                <a href="/" class="logoHeader"><img src="/images/logo-sin-bg.png" class="logoHeader" alt="logo"></a>
            </div>
            <div class="iconContainer">
                <div class="truckIcon">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="userIcon">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="cartIcon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
        <div class="headerBottom">
            <nav>
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Perros</a></li>
                    <li><a href="">Gatos</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <section>
            <img id="imagen-carrousel" src="https://mla-s2-p.mlstatic.com/D_NQ_NP_822524-MLA48572343295_122021-OO.jpg" alt="imagen de perro con servicios">
        </section>
        
        <section id="home-medios-de-pago">
            <article id="article-medios-pago-paraBorde"> 
                <a href="#">
                    <i class="fa-regular fa-credit-card"></i>
                    <p>Promociones Bancarias</p>
                </a>
            </article>
            <article id="article-medios-pago-paraBorde">
                <a href="#">
                    <i class="fa-regular fa-credit-card"></i>
                    <p>Tarjeta de Débito</p>
                </a>
            </article>
            <article id="article-medios-pago-paraBorde">
                <a href="#">
                    <i class="fa-sharp fa-solid fa-money-bill"></i>
                    <p>Efectivo</p>
                </a>
                
            </article>
            <article>
                <a href="#">
                    <i class="fa-solid fa-plus"></i>
                    <p>Más medios de pago</p>
                </a>
            </article>
        </section>
        <br>

        <section id="section-productos-destacados">
            <h2>Productos Destacados</h2>
            <button class="boton-filtrar-productos">Filtrar</button>

            <div class="cards-productos">
                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Alimento Perro Adulto Marca Greendog</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>

                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Alimento Perro Adulto Marca Greendog</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>

                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Alimento Perro Adulto Marca Greendog</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>

                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Alimento Perro Adulto Marca Greendog</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>
            </div>
        </section>
        
        <section id="section-productos-destacados">
            <h2>Accesorios Destacados</h2>
            <button class="boton-filtrar-productos">Filtrar</button>

            <div class="cards-productos">
                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>

                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>

                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>

                <article>
                    <div>
                        <img class="imagen-producto-destacado" src="/images/geendog-super-premium.jpeg" alt="imagen comida para perros">
                    </div>
                    <div class="cards-productos-informacion">
                        <p class="cards-precio-producto">$9999</p>
                        <p class="cards-descripcion-producto">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                    <div id="cards-boton-agregarAlCarrito">
                        <p>Agregar</p>
                    </div>
                </article>
            </div>
        </section>

        <br>

        <section class="quienes-somos-main">
            <article>
                <h4>¿Quienes somos?</h4>

                <div id="quienes-somos-contenedor">
                    <div id="quienes-somos-div-logo-empresa">
                        <img  src="/images/logo-sin-bg.png" alt="logo empresa">
                    </div>
                    <div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo accusantium ad quis dolorum soluta, iste quibusdam! Tempore officia quibusdam nemo incidunt quaerat. Veritatis impedit et voluptate mollitia, cumque molestiae ad.</p>
                    </div>
                </div>
                
            </article>

        </section>




    </main>
    


    <footer class="footer">
        <div class="footerTop">
            <div class="datosContacto">
                <div>
                    <span class="contactoTitulo">Atención Teléfonica:</span><span> 0810-220-2345</span>
                </div>
                <div>
                    <span class="contactoTitulo">Atención Whatsapp:</span><span> +54-911-6702-6320</span>
                </div>
                <div>
                    <span class="contactoTitulo">Horarios de Atención:</span><span> Lunes a Sábados de 9 a 21 hs</span>
                </div>
            </div>
            <div class="socialMedia">
                <a href="https://www.whatsapp.com"><img class="logoRedes" src="/images/logoWhatsapp.png" alt="logo wtsp"></a>
                <a href="https://www.instagram.com"><img class="logoRedes" src="/images/logoIg.png" alt="logo ig"></a>
                <a href="https://www.twitter.com"><img class="logoRedes" src="/images/logoTwtr.png" alt="logo twtr"></a>
                <a href="https://www.facebook.com"><img class="logoRedes" src="/images/logoFace.png" alt="logo fb"></a>
            </div>
        </div>
        <div class="footerBottom">
            <div class="copy">
                <p>Copyright © 2022 Animalitos S.A.</p>
            </div>
        </div>
    </footer>
</body>
</html>