* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto&display=swap');

body{
    background-color: rgb(250 255 234);
}

.header, .footer{
    background-color: rgb(136 250 224);
}


/******** HEADER *********/

.barra-busqueda{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: none;
}
.barra-busqueda input{
    padding: 6px;
    border-style: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 80%;
}
.barra-busqueda i{
align-self: center;
justify-self: center;
padding: 5px;
}
.lupa{
    border-style: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    
}
.lupa:hover{
    cursor: pointer;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

.iconContainer i{
    font-size: 25px;
}

.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
}
.logoHeader{
    width: 66%;
    display: flex;
    justify-content: center;
}

.iconContainer{
    display: flex;
}
.cartIcon{
    margin-left: 10px;
}

.headerBottom{
    display: none;
}
.truckIcon{
    display: none;
}


/********FOOTER*******/
.socialMedia{
    display: flex;
    justify-content: end;
}

.logoRedes{
    width: 30px;
    height: 30px;
    margin: 15px;
}

/*******PAGINA REGISTRO*******/
.formRegistro{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-shadow: -2px 6px 17px -1px rgba(66, 66, 66, 0.75);
}
.labelForm{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(66, 66, 66);
    font-weight: bold;
    font-size: 16px;
}
.inputRegistro{
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.checkContainer{
    display: flex;
    flex-direction: column;
}
.checkRegistro{
    color: #666;
    margin-left: 20px;
    padding: 7px;
}
.checkRegistro input{
    margin-right: 5px;
}
.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.buttonContainer button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    color: white;
    background-color: #666;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    transition: all 0.5s;
}
.buttonContainer button:hover{
    background-color: #15c70f;
    cursor: pointer;
}
.titulo{
margin: 20px;
text-align: center;
}

@media screen and (min-width: 576px){

    /****** HEADER *******/
    i{
        font-size: 16px;
    }

    .barra-busqueda{
        display: block;
        width: 32%;
    }
    .truckIcon{
        display: block;
        margin-right: 10px;
    }
    .headerBottom{
        display: block;
    }
    .burguerButton{
        display: none;
    }
    nav{
        border-top-style: solid;
        border-top-width: 1px;
    }
    nav ul{
        display: flex;

    }
    li{
        width: 20%;
        text-align: center;
        border-left-style: solid;
        border-left-width: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

/****** PAGINA REGISTRO*******/

    .formRegistro{
        width: 50%;
    }
}

@media screen and (min-width: 992px){

}