<footer class="footer">
    <div class="footerTop">
        <div class="datosContacto">
            <div>
                <span class="contactoTitulo">Atención Teléfonica:</span><span> 0810-220-2345</span>
            </div>
            <div>
                <span class="contactoTitulo">Atención Whatsapp:</span><span> +54-911-6702-6320</span>
            </div>
            <div>
                <span class="contactoTitulo">Horarios de Atención:</span><span> Lunes a Sábados de 9 a 21 hs</span>
            </div>
        </div>
        <div class="socialMedia">
            <a href="https://www.whatsapp.com"><img class="logoRedes" src="/images/logoWhatsapp.png"
                    alt="logo wtsp"></a>
            <a href="https://www.instagram.com"><img class="logoRedes" src="/images/logoIg.png" alt="logo ig"></a>
            <a href="https://www.twitter.com"><img class="logoRedes" src="/images/logoTwtr.png" alt="logo twtr"></a>
            <a href="https://www.facebook.com"><img class="logoRedes" src="/images/logoFace.png" alt="logo fb"></a>
        </div>
    </div>
    <div class="footerBottom">
        <div class="copy">
            <p>Copyright © 2022 Animalitos S.A.</p>
        </div>
    </div>
</footer>
</body>

</html>