<header class="header">
    <div class="headerTop">
        <div class="burguerButton">
            <i class="fa-solid fa-bars"></i>
        </div>
        <form method="get" action="" class="barra-busqueda">
            <input type="text" name="nombre" placeholder="Buscar productos, marcas">
            <button type="submit" class="lupa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="logo">
            <a href="/" class="logoHeader"><img src="/images/logo-sin-bg.png" class="logoHeader" alt="logo"></a>
        </div>
        <div class="iconContainer">
            <% if(locals.isLogged) { %>
                <div >
                    <a href="/profile"><%= locals.user %></a>
                </div>
                <div class="cartIcon">
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div>
                    
                    <a style="margin-left: 5px;" href="/logout">Salir</a>
                </div>

            <% } else { %>
                <div class="truckIcon">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="userIcon">
      
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="cartIcon">
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            <% } %>
            
            
        </div>
    </div>
    <div class="headerBottom">
        <nav>
            <ul>
                <% if(locals.userIsAdmin) { %>
                    <li><a href="/products/">Productos</a></li>
                <% } %>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Perros</a></li>
                <li><a href="">Gatos</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
