<main id="top">
    <section>
        <img id="imagen-carrousel" src="https://mla-s2-p.mlstatic.com/D_NQ_NP_822524-MLA48572343295_122021-OO.jpg"
            alt="imagen de perro con servicios">
    </section>

    <section id="home-medios-de-pago">
        <article id="article-medios-pago-paraBorde">
            <a href="#">
                <i class="fa-regular fa-credit-card"></i>
                <p>Promociones Bancarias</p>
            </a>
        </article>
        <article id="article-medios-pago-paraBorde">
            <a href="#">
                <i class="fa-regular fa-credit-card"></i>
                <p>Tarjeta de Débito</p>
            </a>
        </article>
        <article id="article-medios-pago-paraBorde">
            <a href="#">
                <i class="fa-sharp fa-solid fa-money-bill"></i>
                <p>Efectivo</p>
            </a>

        </article>
        <article>
            <a href="#">
                <i class="fa-solid fa-plus"></i>
                <p>Más medios de pago</p>
            </a>
        </article>
    </section>
    <br>

    <%- include('productHighlights.ejs', {title: "Alimentos para Felinos" , products: catFood}) %>
        <%- include('productHighlights.ejs', {title: "Alimentos para Caninos" , products: dogFood}) %>

            <br>

            <section id="qs" class="quienes-somos-main">
                <article>
                    <h4>¿Quienes somos?</h4>

                    <div id="quienes-somos-contenedor">
                        <p>Somos una empresa dedicada a la venta de alimentos para mascotas de la más alta calidad.
                            Nos enfocamos en ofrecer productos que sean beneficiosos para la salud y bienestar de
                            los animales. En nuestra tienda en línea encontrarás una amplia variedad de alimentos
                            para perros y gatos de todas las edades y tamaños. También ofrecemos accesorios para
                            mascotas como juguetes, collares y camas.</p>

                        <p>Nuestro equipo está compuesto por expertos en nutrición animal y amantes de los
                            animales. Somos un grupo de cinco amigos y dueños de mascotas, que decidimos crear esta
                            empresa para ofrecer los mejores productos para los amigos peludos. Nos une nuestra
                            pasión por los animales y nuestra convicción de que merecen lo mejor. Estamos
                            comprometidos con brindar un servicio excepcional a nuestros clientes y garantizar la
                            satisfacción de sus mascotas.</p>
                    </div>

                </article>

            </section>
            <h3 class="up"><a href=#top> Ir a arriba</a></h3>
</main>