<%- include('../partials/metadata.ejs') %> 

<body>

    <%- include('../partials/header.ejs') %> 
        <main>
            <form method="post" action="/login" class="formRegistro" >
                <div class="text-field">
                    <div><h3 class="center">Ingresá a tu Cuenta</h3></div>
                    <input type="text" name="email" required>
                    <span></span>
                    <label>Usuario</label>
                </div>
               
                <div class="text-field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Contraseña</label>
                </div>
                <div class="forget-pass-field">¿Olvidaste tu contraseña?</div>
                
                <button type="submit">Ingresá</button>
               
                <div class="signup-link">
                ¿No sos miembro? <a href="/register">¡Registrate!</a>
                </div>
                </form>

        </main>
        <%- include('../partials/footer.ejs') %> 
</body>
</html>