<%- include('../partials/metadata.ejs') %>




<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h3 class="titulo">Modificá un Producto</h3>
        <form method="post" action="/" class="formRegistro" enctype="multipart/form-data">
            <div>
                <label for="product-name" class="labelForm">Nombre del Producto</label>
                <input type="text" class="inputRegistro" name="product-name" id="product-name" required>
            </div>
            <div>
                <label for="product-description" class="labelForm">Descripción</label>
                <input type="text" class="inputRegistro" name="product-description" id="product-description" required>
            </div>
            <div>
                <label for="product-image" class="labelForm">Foto del Producto</label>
                <input type="file" class="inputRegistro" name="product-image" id="product-image"required>
            </div>
            <div>
                <label for="category" class="labelForm">Categoría</label>
                <input type="text" class="inputRegistro" name="category" id="category" required>
            </div>

            <div>
                <label for="animal-type" class="labelForm">Tipo de Animal</label>
                <label for="animal-type"><input type="radio" name="animal-type" value="Perro" required>Perro</label>
                <label for="animal-type"><input type="radio" name="animal-type" value="Gato" required>Gato</label>
            </div>

            <div>
                <label for="price" class="labelForm">Precio</label>
                <input type="text" class="inputRegistro" name="price" id="price" required>
            </div>


            <div class="buttonContainer">
                <button type="submit">Editar Producto</button>
            </div>
        </form>
    </main>
    

    <%- include('../partials/footer.ejs') %>
</body>