<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h3 class="titulo">REGISTRATE</h3>
            <form method="post" action="/register" class="formRegistro" enctype="multipart/form-data">
                <div>
                    <label for="full_name" class="labelForm">Nombre y Apellido</label>
                    <input type="text" class="inputRegistro" name="full_name" id="full_name" placeholder="Ingresa tu Nombre y Apellido">
                </div>
                <div>
                    <label for="user_name" class="labelForm">Nombre de Usuario</label>
                    <input type="text" class="inputRegistro" name="user_name" id="user_name" placeholder="Ingresa tu Nombre de Usuario">
                </div>
                <div>
                    <label for="email" class="labelForm">Email</label>
                    <input type="email" class="inputRegistro" name="email" id="email" placeholder="Ingresa tu Email">
                </div>
                <div>
                    <label for="date_of_birth" class="labelForm">Fecha de Nacimiento</label>
                    <input type="date" class="inputRegistro" name="date_of_birth" id="date_of_birth">
                </div>                        
                <div>
                    <label for="userImage" class="labelForm">Imagen de Perfil</label>
                    <input type="file" class="inputRegistro" name="userImage" id="userImage">
                </div>
                <div>
                    <label for="password" class="labelForm">Contraseña</label>
                    <input type="password" class="inputRegistro" name="password" id="password" placeholder="Ingresa tu contraseña">
                </div>
                <div>
                    <label for="confirmPass" class="labelForm">Confirmá tu contraseña</label>
                    <input type="password" class="inputRegistro" name="confirmPass" id="confirmPass" placeholder="Reingresa tu contraseña">
                </div>
                <div class="buttonContainer">
                    <button type="submit">Registrate</button>
                </div>
            </form>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
